//
    Copyright 2017-2018 James V. Craster
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

div(class="ui inverted menu" style = "background:#1b1c1d; margin-bottom:0px;")
    div(class="header item") OpenWerewolf
    div(class="header item") 
        p(id="mainGameName") Loading...
    a(class="item" href="/") Home
    a(class="item" href="https://discord.gg/AYmr9vc" target="_blank") Discord
    div(class="ui inverted right menu")
        div(class="item")
            button(id="viewLobby" class="ui inverted button") View lobby
        div(class="item")
            button(id="leaveGame" class="ui inverted purple button") Leave Game
        include loggedInRightMenu.pug

//div(style="margin-top:30px")
    //p(id="mainGameName" style="display:inline") Loading...

//div(id="leftBox" class="sideBox")
    div(id="innerLeftBox" class="innerSideBox")
        ul(id="roleNames")
            li(class="gameli") Time: 00:00
            li(class="gameli") Roles:
div(id="canvasContainer" style="width:100%;height:100%;overflow-y:hidden;")  
    div(id="outer" style="width:30%;position:absolute;left:10px")
        p(id="gameClock" style="color:#cecece; font-family: 'IBM Sans Plex', sans-serif; font-size:20px; margin-bottom:auto; margin-top:25px; margin-left:5%; align-self:start") Time: 00:00
        div(id="inner" style="height:60%;background-color:#212121")
            ul(id="chatbox")
                // Form for entering messages
        form(id="msgForm" class="messageForm")
            input(id="msg" autocomplete="off" placeholder="Type Here" maxlength="150" autofocus)
            input(id="submit" type="submit" value="Submit" style="margin-bottom:70px;")

    div(id="leftBox" class="sideBox" style="width:10%;position:absolute; right:0px; top:40px;")
        div(id="innerLeftBox" class="innerSideBox" style="overflow-y:hidden;width:90%; margin-right:auto; margin-left:0px;")
            ul(id="roleNames")
                //li(class="gameli") Time: 00:00
                li(class="gameli") Roles:

    div(id="rightBox" class="sideBox" style="width:10%; position:absolute; right:10%; top:40px;")
        div(id="innerRightBox" class="innerSideBox")
            ul(id="playerNames")
                li(class="gameli") Players: