//
     Copyright (C) 2017 James V. Craster. This file is part of OpenWerewolf. 
     OpenWerewolf is free software: you can redistribute it and/or modify
     it under the terms of the GNU Affero General Public License as published
     by the Free Software Foundation, version 3 of the License.
     OpenWerewolf is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU Affero General Public License for more details.
     You should have received a copy of the GNU Affero General Public License
     along with OpenWerewolf.  If not, see <http://www.gnu.org/licenses/>.
     
mixin game(name, players, inPlay)
    div(class="item")
        - if(inPlay){
        p= name + " [IN PLAY]"
        - }else{
        p= name + " [OPEN]"
        - }
        br
        p Players:  
            - var n = 0;
            - while(n < players.length){
                - if(n != 0){
                span(style="color:#cecece") , 
                span(style="color:" + players[n].color)= players[n].username
                - }else{
                span(style="color:" + players[n].color)= players[n].username
                - }
                - n+=1;
            -}