//
    Copyright 2017-2018 James V. Craster
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    
div(id="registerModal" class="ui modal column segment transition")
    div(class="header") Register
    p(id="addNewUserAdditionalError" style="color:red")
    form(id="addNewUserForm" action="" class="ui form" style="text-align:center")
        div(id="addNewUserDimmer" class="ui dimmer inverted")
            div(class="ui loader")
        div(class="field")
            div(class="ui left icon input")
                i(class="user icon")
                input(id="addNewUserUsername" name="username" type="text" placeholder="Username" maxlength="10")
        div(class="field")
            div(class="ui left icon input")
                i(class="mail icon")
                input(id="addNewUserEmail" name="email" type="text" placeholder="Email" maxlength="100")
        div(class="field")
            div(class="ui left icon input")
                i(class="lock icon")
                input(id="addNewUserPassword" name="password" type="password" placeholder="Password" maxlength="100")
        div(class="field")
            div(class="ui left icon input")
                i(class="lock icon")
                input(name="repeatPassword" id="addNewUserRepeatPassword" type="password" placeholder="Repeat password" maxlength="100")

        div(class="ui checkbox")
            input(type="checkbox")
            label Sign up to the newsletter to get updates
        
        div(class="ui error message")
        br
        br
        button(class="blue ui fluid button" type="submit" id="addNewUserButton") Submit