# Ignore javascript builds in the root directory
/*.js
/Games/*.js
/Games/OneDay/*.js
/Games/Classic/*.js
/Client/login.js
Games/Demo/demo.js

#Ignore node_modules
node_modules

#Ignore unused html under development
lobby.html

#Ignore css output
/Client/*.css

#Ignore releases
release/
*.zip

#Ignore notes
TODO.txt
.DS_Store

Core/app.js
Core/core.js
Core/app.js
Games/Demo/demo.js
Core/core.js
Games/Demo/demo.js
dump.rdb
Core/player.js
Core/server.js
Core/utils.js
Core/game.js
Client/google2d9c2c2f48980e51.html
Demo/LICENSE
Demo/demo.ts
Classic/Classic.js
Demo/demo.js
OneDay/oneDay.js
