# Ignore javascript builds in the root directory
/*.js
/Games/*.js
/Games/OneDay/*.js
/Games/Classic/*.js
/Client/login.js
Games/Demo/demo.js

#Ignore node_modules
node_modules

#Ignore unused html under development
lobby.html

#Ignore css output
/Client/*.css

#Ignore releases
release/
*.zip

#Ignore notes
TODO.txt
.DS_Store
Client/main.css.map

