# Ignore javascript builds in the root directory
/*.js
/Games/*.js
/Games/OneDay/*.js
/Games/Classic/*.js
/Client/login.js
lobby.html
login.html

#Ignore releases
release/
*.zip

#Ignore notes
TODO.txt
.DS_Store
