//
    Copyright 2017-2018 James V. Craster
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="icon" href="icon.png")
        link(rel="stylesheet" type="text/css" href="main.css")
        link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
        link(rel="stylesheet" type="text/css" href="simplebar.min.css")
    body(style="overflow:hidden;")
        p(style="margin-top:50px; padding-left:20px; color:#cecece;")
            | 
            | OpenWerewolf (C) 2017-2019 James Craster. No warranty. License: Apache-2.0 (http://www.apache.org/licenses/)
            br
            br
            | The favicon 'icon.png' is made by Dave Gandy (https://www.flaticon.com/authors/dave-gandy) from www.flaticon.com. It is licensed by CC 3.0 BY.
            br
            | The font 'mercutio_basic.ttf' is made by Nate Halley, 'Nate547' (Total FontGeek), and is licensed under CC BY-SA 3.0. 





