//
    Copyright 2017 James V. Craster
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

//Parameters passed in by express:
//numberOfGames : number of games ran by the server.
//players : 2D array of player name / player color pairs.
//gameNames : array of names of games.
//gameInPlay : array of booleans, true if nth game in play, false otherwise
//gameTypes : array of strings, each correspoding to a game title

doctype html
include includes/lobbyEntry.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" type="text/css" href="main.css")
        // IBM Plex Sans google font
        link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet")
        title OpenWerewolf
    
    // Move scrollbar to bottom on window resize 
    body(onresize="$('#inner')[0].scrollTop = $('#inner')[0].scrollHeight;")
        div(id="lobby")
            p(id="mainTitle") OpenWerewolf
            div(id="container")
                - var n = 0;
                - while(n < numberOfGames){
                    +lobbyEntry(n, gameNames[n], players[n], gameInPlay[n], gameTypes[n])
                    - n += 1;
                - }

        div(id="topLevel")
            include includes/game.pug
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="client.js")
        
        