doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="description" content="The online multiplayer werewolf game that's 100% open-source.")
        link(rel="icon" href="icon.png")
        link(rel="stylesheet" type="text/css" href="main.css")
        // IBM Plex Sans google font
        link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet")
        link(rel="canonical" href="http://www.openwerewolf.com/")
        title OpenWerewolf

